ul{
	list-style: none;
	padding-left:0;
}

.listTableCellContainer{
	display: flex;
	box-sizing: border-box;
	width: 100%;
}

.listTableCell{
	flex: 2;
	text-align: center;
}

.listTableRow{
	width: 100%;
}