@media only screen and (max-width: 500px) {
    .listTable {
        width: 100%;
    }

    
    .points-table{
	    font-size: 2vw;
    }
    
    .points-table .points-table-data{
        padding: 2px;
	    font-size: 2.7vw;
    }

    #played{
        flex: 3.5;
    }

    #score{
        flex: 2;
    }

    .tableFont{
	    font-size: 12px;
    }

    #number{
        flex: 1;
    }

    #icon-cell{
        flex: 1;
    }

    #showInstructions{
        display: block;
        text-decoration: underline;
        cursor: pointer;    	 
    }

    #title-text{
	    font-size: 40px;
    }

    #winner{
	    flex: 3.5;
    }

    #weekName{
	    flex: 12;
    }
}
