@media only screen and (max-width: 500px) {
    .listTable {
        width: 100%;
    }

    #played{
        flex: 3.5;
    }

    #score{
        flex: 2;
    }

    .tableFont{
	    font-size: 12px;
    }
}