/* ------------------------------------- Main Styles -------------------------------------------------------- */
body{
  /*background-image: url("http://www.luttrellstowncastle.com/files/hotel/hotel-a/Golf-Gallery-004.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  
}

.listTable{
  margin: auto;
  width: 700px;
}


#teamName{
  padding-left: 10px;
}

#weekName{
  padding-left: 5px;
}

/* ------------------------------------- Click and Hover Events-------------------------------------------------------- */


.clickable{
  cursor: pointer;
}

.hoverable:hover {
  box-shadow: 1px 1px 3px #0790f6;
  border: 2px solid #0790f6;
}

/* ------------------------------------- Borders and Row spacing-------------------------------------------------------- */


.tableRowBorder{
  border-radius: 5px;
  border: 2px solid ;
  padding-top: 5px;
  padding-bottom: 5px;
}
 
 .individualScore{
  border: 1px solid;
}

.weekleft{
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.weekmiddle{
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.weekright{
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.noBorder{
  border: 0px;
}

.tableRowSpacing{
  margin-top: 3px;
  margin-bottom: 3px;
}

/* ------------------------------------- Row Colors-------------------------------------------------------- */

.evenFirstLayer{
  background-color: #00e500;
}

.evenSecondLayer{
  background-color: grey;
}

#individualScorestopRow{
  background-color: #ffb2b2;
}

#headingRow{
  border-color: black;
  font-size: 20px;
  color: white;
  background-color: #002600;
}
