<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Golfer Of The Year</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/animations.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/flexbox_table.css">
  <link rel="stylesheet" href="styles/media-query.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="scripts/javascript/scoreContent.js"></script>
  <script src="scripts/javascript/jQuery_functions.js"></script>
  <script src="scripts/javascript/image-switcher.js"></script>
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<img src="" id="bg" alt="">
<img src="" id="bg-next" alt="">
<body ng-app="app" ng-controller="MyCtrl">

    <ul class="listTable">
      <li class="listTableRow">
        <ul class="listTableCellContainer tableRowBorder" id="headingRow1">
          <li class="listTableCell" id="L-logo"><img src="assets/L-xs.png"></li>
          <li class="listTableCell main-color" id="title"><h1 style="text-align: center; ;" id="title-text">Golfer of the Year 2018</h1></li>
          <li class="listTableCell" id="L-logo"><img src="assets/L-xs.png"></li>
        </ul>
        <ul class="listTableCellContainer tableRowBorder" id="headingRow2">
          <li class="listTableCell" id="label-spacer">
              <div id="next-event-container" class="description hideable" ng-if="showDescription">
                    Your golfer of the year score is based on your best 7 points scores from the 9 major competitions played throughout the year.<br/>
                    Your points score for each competition is based on the position you finish in the event. The points breakdown for each competetion can be seen below.<br/>
              </div>
              <a ng-click="showDescriptionFn()" class="main-color" id="showInstructions"><span  ng-show="!showDescription">Read</span><span ng-show="showDescription">Hide</span> the Rules</a>   
              <div class="table hideable" ng-if="showTable">
                <table class="points-table">
                  <tr>
                    <td class="points-table-data"></td>
                    <td ng-repeat="place in positions" class="points-table-data points">{{place}}</td>
                  </tr>
                  <tr ng-repeat="comp in competitionPoints">
                    <td class="points-table-data">{{comp.competition}}</td>
                    <td ng-repeat="points in comp.points track by $index" class="points-table-data points">{{points}}</td>
                  </tr>
                </table>
              </div>
              <div class="links">
                  <div class="topLink float-left"><a href="" ng-click="showTableFn()">Click here to view the points breakdown</a></div>    
                  <div class="topLink float-right"><a href="schedule.html">Click here for the golfer of the year schedule</a></div> 
              </div>   
            </li>  
        </ul>
        <ul class="listTableCellContainer tableRowBorder" id="headingRow3">
          <li class="listTableCell" id="label-spacer">
          </li>
          <li class="listTableCell main-color" id="score">Points</li>
          <li class="listTableCell main-color" id="played">Played</li>
        </ul>
      </li>
      
      <li ng-repeat-start="team in teams" ng-click="teamRowClicked($index)" class="listTableRow">
        <ul class="listTableCellContainer clickable hoverable tableRowBorder tableRowSpacing tableFont"  ng-class="{'oddFirstLayer': !even($index) != 0, 'evenFirstLayer': even($index)}">
          <li class="listTableCell" id="icon-cell">
			      <span ng-if="teamShown == $index" class="fa fa-chevron-down main-color" aria-hidden="true"></span>
            <span ng-if="teamShown != $index" class="fa fa-chevron-right main-color" aria-hidden="true"></span>
		      </li>
		      <li  class="listTableCell" id="number">{{$index + 1}}</li>
		      <li class="listTableCell" id="team-name-cell">	
            <span id="teamName" class="white">{{team.name}}</span>
          </li>
          <li id="score" class="listTableCell score-cell redBackground white">{{team.score}}</li>
          <li id="played" class="listTableCell white">{{team.weeks.length}}</li>
        </ul>
      </li>
      
      <li  ng-if="teamShown == $parent.$index" ng-repeat-start="week in team.weeks" ng-click="weekRowClicked($index)" class="listTableRow hideable row2">
        <ul ng-if="$index == 0" class="listTableCellContainer noBorder tableRowBorder secondRowSpacing tableRowSpacing tableFont secondRow">
          <li class="listTableCell blank"></li>
          <li class="listTableCell weekleft tableRowBorder secondLayer secondLayerLeft" id="weekName" ng-class="{'oddSecondLayer': $index %2 != 0, 'evenSecondLayer': $index %2 == 0}">
            <span id="compName" class="main-color">Competition Name</span>
          </li>
          <li class="listTableCell weekright tableRowBorder secondLayer secondLayerRight" ng-class="{'oddSecondLayer': !even($index), 'evenSecondLayer': even($index)}" id="compScore">
            <span class="main-color">Points</span>
          </li>
          <li class="listTableCell blank"></li>
        </ul>

        <ul class="listTableCellContainer noBorder tableRowBorder secondRowSpacing tableRowSpacing tableFont secondRow">
          <li class="listTableCell blank"></li>
          <li class="listTableCell weekleft tableRowBorder secondLayer secondLayerLeft" id="weekName" ng-class="{'oddSecondLayer': $index %2 != 0, 'evenSecondLayer': $index %2 == 0}">
            <span ng-class="($index > 6)? '' : 'white'" id="compName">{{week.weekNumber}}</span>
          </li>
          <li class="listTableCell weekright tableRowBorder secondLayer secondLayerRight" ng-class="{'oddSecondLayer': !even($index), 'evenSecondLayer': even($index)}" id="compScore">
            <span ng-class="($index > 6)? '' : 'white'">{{week.score}}</span>
          </li>
          <li class="listTableCell blank"></li>
        </ul>
        
      </li>
      
      <li ng-repeat-end>
      
      <li ng-repeat-end></li>
    </ul>

</body>
</html>
